* {
  font-family: 'Roboto';
}
.forgot-pass-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: blue;
}

.reset-form {
  padding: 10px 14px 10px 14px;
  box-shadow: 0px 4px 9px 4px;
  border: 0px;
}
.forgot-pass-heading {
  color: silver;
  font-size: 18px;
}
.input-bar {
  padding: 10px 14px 10px 14px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.the-btn {
  background-color: darkblue;
  color: white;
  padding: 5px;
  font-size: 15px;
}
